@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Imperial+Script&display=swap');

/* *{
  color: white !important;
  font-family: 'Charm', cursive;
} */

.archive{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.archive_options{
  display: flex;
  width: 50%;
  border: 1px dashed rgb(221, 158, 41);
  margin: 20px 0;
}

.archive_options > p{
  margin-right: 20px;
  font-size: 20px;
  list-style: none;
  margin: 8px;
  margin-right: 20px;
  padding: 4px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.archive_bg{
  height: 1000px;
  width: 100%;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 150%;
}

.archive_bg  h1{
  margin-left: 33%;
  margin-top: 20%;
  font-size: 100px;
}

.archive_options > p:hover{
  background-color: black;
  color: rgb(221, 158, 41);
  padding: 4px;

}

.archive_options > p:active{
      border: 1px dashed;
      padding: 5px;
      color: rgb(221, 158, 41);
      box-shadow: 0px 0px 0px 0px black;
}

.archive_options >p::after{
  content: "";
  /* position: absolute; */
  height: 1px;
  width: 100%;
  background-color: #9f9b67;
  color: rgb(221, 158, 41);

  left: 0;
  bottom: -2px;
  animation: underline_appear 1s linear;
}

@keyframes underline_appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}