.otpstudentlogincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 100%;
  margin-top: 20px;
}
.otpcenterstudentlogincontainer {
  /* border: 1px solid rgb(179, 192, 0); */
  padding: 20px;
  border-radius: 10px;
  box-shadow: -1px 0px 8px 0px grey;
  width: 535px;
}
.otpstudentlogintopimage {
  border: 1px solid tan;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.otpstudentlogintopimage img {
  width: 400px;
  height: 189px;
  border-radius: 20px;
  object-position: 0 -157px;
  object-fit: cover;
}
.otpbelowstudentlogintopimage {
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}
.otpbelowstudentlogintopimage h1 {
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 25px;
  color: #9f9b67;
}

.otpbelowstudentlogintopimage p {
  font-family: "Padauk", sans-serif;

  color: #a9967d;
}
.otpUsernameinputstudentlogin {
  /* border: 1px solid purple; */
  /* width: 100%; */
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 490px; */
}
.otpUsernameinputstudentlogin h5 {
  margin-right: 15px;
  font-family: "ZCOOL XiaoWei", serif;
  /* font-size: 25px; */
  color: #9f9b67;
}
.otpUsernameinputstudentlogin input {
  width: 280px;
  padding-left: 26px;
}
.otpdivofgetotpbutton {
  width: 100%;
  /* border: 1px solid tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#GetOTPButton {
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px dashed;
  /* background-color: #c4c4c4; */
  color: #93a8b2;
  background-color: black;
  cursor: pointer;

  font-size: 12px;
  /* color: black; */
  text-decoration: none;
}
#GetOTPButton:hover {
  color: rgb(221, 158, 41);
  background-color: black;
}
.otplock_logo {
  position: absolute;
  top: 19px;
  left: 163px;
  color: rgb(117 106 125);
}
.otpusercredential {
  /* border: 1px solid red; */
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin-top: 25px;
}
.otpusercredential_line {
  width: 90px;
  height: 0px;

  border: 1px solid #d3b5b5;
}
.otpusercreditname {
  display: flex;
  flex-direction: column;
}
.otpwhitecorrectsignimage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #37d01e;
  position: relative;

  /* border: 2px solid rgb(184, 166, 166); */
}
.otptickimage {
  color: black;
  background: white;
  border-radius: 50px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 5px;
  left: 4px;
}
.otpotpverificationtwo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otpnamingverification {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #a9967d;
  padding-top: 4px;
  padding-bottom: 4px;
  /* border: 1px solid yellow; */
}
#userinsidenamingverification {
  margin-right: 10px;
}
#otpinsidenamingverification {
  margin-left: 10px;
}
.otpparaaboveenterOTP {
  /* width: 523px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.otpparaaboveenterOTP p {
  font-family: "Padauk", sans-serif;
  color: #84839b;
}
.otptimer {
  position: absolute;
  color: #9f9b67;
  right: 62px;
  /* border: 1px solid red; */
}
.OtpOpacityZero {
  opacity: 0;
  /* border: 1px solid red; */

  position: absolute;
  right: 62px;
}
.OtpOpacityZeroresend {
  /* border: 1px solid red; */
  opacity: 0;
  position: absolute;
  top: -1000000000000000000000000px;
}
.resendhover {
  color: #a26363;
}
.resendhover:hover {
  cursor: pointer;
  color: #519793;
}
.otperrorpositionrelative {
  position: relative;
}
.otpblankerror {
  color: red;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 53px;
  top: -12px;
  font-size: 13px;
}
@media only screen and (min-width: 0px) and (max-width: 990px) {
  .otpcenterstudentlogincontainer {
    margin-top: -59px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 613px) {
  .otpcenterstudentlogincontainer {
    width: 500px;
    /* height: 1000px; */
  }
  .otplock_logo {
    left: 144px;
    top: 18.5px;
  }
  .otpbelowstudentlogintopimage p {
    line-height: 20px;
  }
  .otpblankerror {
    right: 39px;
  }
  .otptimer {
    right: 43px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 510px) {
  .otpcenterstudentlogincontainer {
    width: 400px;
    padding-top: 5px;
    /* height: 1000px; */
  }
  .otpstudentlogintopimage img {
    width: 400px;
    height: 223px;
    object-position: 0 -114px;
    /* padding-top: 10px; */
  }
  .otpUsernameinputstudentlogin {
    flex-direction: column;
    margin-top: 15px;
  }
  .otplock_logo {
    left: 43px;
    top: 48.5px;
  }
  .otpdivofgetotpbutton {
    margin-top: 11px;
  }
  .otpblankerror {
    font-size: 12px;
  }
  .otptimer {
    right: 45px;
    bottom: 11px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 410px) {
  .otpcenterstudentlogincontainer {
    width: 350px;
    /* height: 1000px; */
  }
  .otpstudentlogintopimage img {
    width: 350px;
    height: 250px;
    object-position: 0 -56px;
  }
  .otplock_logo {
    left: 19px;
  }
  .otpblankerror {
    right: 13px;
    font-size: 11px;
  }
  .otptimer {
    right: 20px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 356px) {
  .otpcenterstudentlogincontainer {
    width: 340px;
  }
  .otpstudentlogintopimage img {
    width: 330px;
    height: 250px;
    object-position: 0 -32px;
  }
  .otplock_logo {
    left: 13px;
  }
  .otpblankerror {
    right: 8px;
    font-size: 10px;
  }
  .otptimer {
    right: 3px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 356px) {
  .otpcenterstudentlogincontainer {
    width: 315px;
  }
  .otpstudentlogintopimage img {
    width: 315px;
    height: 260px;
    object-position: 0 -32px;
  }
  .otplock_logo {
    left: 3px;
  }
  .otpblankerror {
    right: 0px;
  }
}
