.societyPageContainer {
    display: flex;
    margin-top: 5px;
    width: 100%;
}
.societyPageName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.LeftSocContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  padding: 50px;
  /* border: 1px solid red; */
}

.RightSocContainer {
    color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  padding: 50px;
}

.RightSocContainer p {
    color: rgb(221, 158, 41);
}
.RightSocContainer h2 {
    color: #93a8b2;
}

.societyPageContainer button{
    color: white;
    flex-direction: column;
}

.buttonBox {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
}
.buttonBox button {
    align-items: center;
    width: 220px;
    height: 50px;
    border: 1px dashed rgb(221, 158, 41);
    color: #93a8b2;
    font-weight: bold;
    background-color: black;
}

.buttonBox button:hover{
    background-color: rgba(60, 74, 80, 0.116);
    /* border-color: #003249; */
    box-shadow: -1px 0px 8px 0px grey;
}