*{
  box-sizing : border-boxing;
  margin : 0;
  padding : 0;
}
html{
  font-size:16px;
  scroll-behavior: smooth;
}
body{
 /* background-color: rgb(76, 188, 240); */
 background-color: black;
}

h2{
  text-align: center;
  color:white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h3{
  color: black;
  text-align: center;
  font-weight: bold;
  /* padding:0.5rem; */
  margin: 0.5rem;
}

#your-achievements{
  width : 60%;
  margin: 2rem 0 2rem 9% ;

}
.achievements-content{
  padding: 1rem 1rem;
  /* width: 60%; */
  background-color: rgba(196, 196, 196, 1);
  /* padding: 1rem 1rem;  */
}
.achievement{
  background-color: rgba(172, 172, 172, 1);
  padding : 0.5rem;
  margin:10px;
}
.no-achievement{
  background-color: rgba(172, 172, 172, 1);
  padding : 0.5rem;
  margin:10px;
  font-size:1.05rem;
  text-align:center;
  /* cursor:not-allowed; */
  display: none;
}
.achievement-title{
  font-size: 1.05rem;
  font-weight: bold;
}

.btn{
  /* background-color:rgba(118, 118, 118, 1); */
  background-color: brown;
  padding:5px;
  position :relative;
  cursor: pointer;
  /* left:4rem; */
  color:white;
  font-weight:bold;
}
.add-other-achievement-btn{
  background-color: brown;
  padding:5px;
  /* margin:5px; */
  width:100%;
  position :relative;
  cursor: pointer;
  /* left:4rem; */
  color:white;
  font-weight:bold;
}
.add-other-achievement-btn a{
  text-decoration: none;
  color:white;
}
.buttons{
  display:flex;
  justify-content: flex-end;
}

.floating-links-light{
  background-color: #9D9D9D;
  width:12rem;
  padding: 0.7rem 0;
}
.floating-links-dark{    
  background-color:#3B3B3B;
  width:12rem;
  padding: 0.7rem 0;
}
.floating-links-light a{
  text-decoration:none;
  color:black;
  font-weight: bold;
}
.floating-links-dark a{
  /* width:16rem; */
  text-decoration: none;
  color:white;
  /* font-weight: bold; */
}
#students-grievances-form{
  width:12rem;
  background-color: #9D9D9D;
  padding: 0.7rem 0;
  margin-top: 1.7rem;
}
#students-grievances-form a{
  text-decoration: none;
  color:black;
  font-weight: bold;
}
/* .floating-links {
  position: fixed;
  width:12rem;
  right:10%;
  top:5.6rem;
  color:white;
  text-align: center;    
} */

/* for mobiles phones and table */
@media only screen  and (max-width:768px) {
  #your-achievements{
      width:80%;
  }
  .floating-links{
      display: none;
  }
}
/*  For tablets  */
@media only screen and ( min-width:769px )and (max-width:991px) {
  #your-achievements{
      width:80%;
  }
  .floating-links{
      display: none;
  }
}

/* medium screen devices */
@media only screen and (min-width:992px) and (max-width:1199px) {
  .floating-links{
      position: fixed;
      width:12rem; 
      right:8%;
      top:5.6rem;
      color:white;
      text-align: center;
  }
}
/* large devices */
@media only screen and (min-width:1200px) {
  .floating-links {
  position: fixed;
  width:12rem; 
  right:10%;
  top:5.6rem;
  color:white;
  text-align: center;    
  }


}
#students-grievances-form{
  cursor: pointer;
  color: #f8f3f3;
  background-color: #5858d2;
}
.achievement-description {
  font-size: 13px;
  font-family: 'Font Awesome 5 Free';
}
.achievement-title {
  font-size: 21px;
  color: black;
  font-family: 'ZCOOL XiaoWei';
}