* {
  margin: 0px;
  padding: 0px;
  
  box-sizing: border-box;
  /* height: 4000px; */
}

.body {
  height: 95vh;
  background-color: rgb(14, 13, 13);
}
.navbars {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  /* position: sticky;
  top: 0;
  padding: 15px;
  padding-top: 30px; */
  /* padding-bottom: 20px; */
}
.navbars ul {
  display: flex;

  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: -1px 0px 8px 0px grey;
  /* border: 2px solid yellow; */
  /* position: relative; */
}

.navbars ul li {
  list-style: none;
  margin: 8px;
  margin-right: 20px;
  padding: 4px;
  box-shadow: 0px 0px 3px 0px rgb(56 129 179);
}

.navbars ul li a {
  text-decoration: none;
  color: white;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 20px;
  position: relative;
}

.navbars ul li a:after {
  content: "";
  position: absolute;
  background-color: #ce7011;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.navbars a:hover:after {
  width: 100%;
}
.navbars ul li:hover {
  /* background: #f4ece6; */
  /* background: #9f9b67;
  color: black; */
  background-color: black;
  color: rgb(221, 158, 41);
  padding: 4px;
  /* border: 2px solid blue; */
  /* border-radius: 5px; */
  /* border: 1px dashed; */
}
.navbars ul li a:hover {
  color: #9f9b67;
}
.navitem .active {
  /* border: 2px solid blue; */
  border: 1px dashed;
  /* border-bottom: none; */
  padding: 5px;
  color: rgb(221, 158, 41);
  box-shadow: 0px 0px 0px 0px black;
}
.navitem .active::after {
  content: "";
  position: absolute;
  height: 1px;
  /* border: 1px dashed #9f9b67; */
  width: 100%;
  background-color: #9f9b67;
  color: rgb(221, 158, 41);

  left: 0;
  bottom: -2px;
  animation: underline_appear 1s linear;
}
@keyframes underline_appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.navitem_top .active::before {
  content: "";
  position: absolute;
  height: 1px;
  /* border: 1px dashed #9f9b67; */
  width: 100%;
  background-color: #9f9b67;
  color: rgb(221, 158, 41);

  left: 0;
  bottom: 30.5px;
  animation: underline_appear 1s linear;
}
@keyframes underline_appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1173px) {
  .navbars ul li a {
    font-size: 18px;
  }
  .navitem_top .active::before {
    bottom: 29px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1093px) {
  .navbars ul li a {
    font-size: 16px;
  }
  .navbars ul li {
    margin: 6px;
    margin-right: 15px;
  }
  .navitem_top .active::before {
    bottom: 27px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 956px) {
  .navbars ul li {
    margin: 6px;
    margin-right: 12px;
  }
  .navitem_top .active::before {
    bottom: 27px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 932px) {
  .navbars ul li a {
    font-size: 14px;
  }

  .navbars ul li {
    margin: 6px;
    margin-right: 10px;
  }
  .navitem_top .active::before {
    bottom: 24.5px;
  }
}
