.HomeContainer {
  display: flex;
  /* border: 2px solid yellow; */
  /* margin-top: 70px; */
  width: 100%;
  /* height: 100vh; */
  background-color: black;
  background: black;
}
.LeftHomeContainer {
  /* border: 1px solid maroon; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  padding: 50px;
  margin-top: 70px;
}
.RightHomeContainer {
  /* border: 1px solid rgb(207, 179, 179); */
  color: white;
  width: 100%;
  height: 100%;
  /* padding-bottom: 0; */
  margin-top: 40px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.FooterRightHomeContainer {
  margin-top: 138px;
  /* border: 2px solid red; */
  /* padding: 20px; */
}
#HomeCalender {
  padding: 4px;
  border: 1px dashed;
  color: #93a8b2;
  background-color: black;

  cursor: pointer;

  font-size: 12px;
  /* color: black; */
  text-decoration: none;
}
#HomeCalender:hover {
  color: rgb(221, 158, 41);
  background-color: black;
}
.headingbelowCalenderButton h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 68px;
  color: #64786c;
}
.LoginButton {
  display: flex;
}
#StudentLogin {
  padding: 4px;
  border: 1px dashed;
  /* background-color: rgb(221, 158, 41); */
  /* background-color: #c4c4c4; */
  color: #93a8b2;
  background-color: black;

  cursor: pointer;
  margin-right: 15px;
  font-size: 12px;
  /* color: black; */
  text-decoration: none;
}
#StudentLogin:hover {
  color: rgb(221, 158, 41);
  background-color: black;
}

#OfficialLogin {
  padding: 4px;
  border: 1px dashed;
  /* background-color: #c4c4c4; */
  color: #93a8b2;
  background-color: black;
  cursor: pointer;

  font-size: 12px;
  /* color: black; */
  text-decoration: none;
}
#OfficialLogin:hover {
  color: rgb(221, 158, 41);
  background-color: black;
}
.TSGHACKATHOAN {
  /* border: 1px solid teal; */
  padding: 12px;
  padding-bottom: 0;
  padding-left: 15px;
  color: rgb(89 99 104);
}
.calenderButton {
  /* border: 1px solid yellow; */
  padding: 12px;
  padding-top: 0;
  margin-top: -4px;
  /* color: black; */
}
.headingbelowCalenderButton {
  /* border: 1px solid teal; */
  padding: 12px;
}
.LoginButton {
  /* border: 1px solid firebrick; */
  padding: 12px;
  padding-top: 0;
  color: black;
}
.paraaboveloginbutton p {
  /* font-family: Roboto; */
  /* font-style: normal;
  font-weight: normal; */
  font-size: 14px;
  /* line-height: 16px; */
  /* color: #ffffff; */
  /* border: 1px solid tan; */
  padding: 12px;
  padding-bottom: 0;
  color: #94948b;
}
.paraabovecalenderbutton p {
  font-size: 14px;
  /* line-height: 16px; */
  color: #ffffff;
  /* border: 1px solid tan; */
  padding: 12px;
  padding-bottom: 0px;
  padding-top: 14px;
  color: #94948b;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 336px;
  color: rgb(238, 216, 14);
  background-color: black;
  border-radius: 50%;
  border: 1px dashed;
  /* padding: 4px; */
}

.carousel-control-next-icon:hover {
  color: rgb(17, 176, 224);
}
.carousel-control-prev-icon:hover {
  color: rgb(17, 176, 224);
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
}
.captionHeading {
  color: antiquewhite;
}
.captionpara {
  color: #93a8b2;
}

.HomeCarousel img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  padding: 15px;
  /* border: 2px solid red; */
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 1150px) {
  .headingbelowCalenderButton h1 {
    font-size: 49px;
  }
  .HomeCarousel img {
    height: 350px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1050px) {
  .LeftHomeContainer {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .HomeCarousel img {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 950px) {
  .headingbelowCalenderButton h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .HomeContainer {
    flex-direction: column-reverse;
  }
  .RightHomeContainer {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .HomeCarousel img {
    padding-right: 60px;
    padding-left: 60px;

    height: 400px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 55px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .HomeCarousel img {
    padding-right: 40px;
    padding-left: 40px;

    height: 400px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 51px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .HomeCarousel img {
    padding-right: 30px;
    padding-left: 30px;
  }
  .RightHomeContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 49px;
    line-height: 58px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 540px) {
  .HomeCarousel img {
    padding-right: 20px;
    padding-left: 20px;
    height: 350px;
  }
  .RightHomeContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 47px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 455px) {
  .RightHomeContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .HomeCarousel img {
    padding-right: 10px;
    padding-left: 10px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 43px;
    line-height: 52px;
  }
  .LeftHomeContainer {
    padding: 40px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 420px) {
  .HomeCarousel img {
    height: 300px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 41px;
    line-height: 49px;
  }
  .LeftHomeContainer {
    padding: 35px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 392px) {
  .HomeCarousel img {
    padding-right: 0px;
    padding-left: 0px;
  }
  .RightHomeContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .headingbelowCalenderButton h1 {
    font-size: 38px;
    line-height: 44px;
  }
  .LeftHomeContainer {
    padding: 30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 367px) {
  .headingbelowCalenderButton h1 {
    font-size: 35px;
    line-height: 42px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 360px) {
  .HomeCarousel img {
    height: 280px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 350px) {
  .LeftHomeContainer {
    padding: 20px;
  }
}
/* style={{
  display: "block",
  width: 700,
  padding: 50,
  paddingLeft: 100,
  paddingRight: 0,
  paddingBottom: 10,
}} */
