.officialstudentlogincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 100%;
  margin-top: 20px;
}
.officialcenterstudentlogincontainer {
  /* border: 1px solid red; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: -1px 0px 8px 0px grey;
}
.officialstudentlogintopimage {
  /* border: 1px solid tan; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.officialstudentlogintopimage img {
  width: 400px;
  height: 189px;
  border-radius: 20px;
  /* object-position: 0 -1px; */
  object-fit: cover;
}
.officialbelowstudentlogintopimage {
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}
.officialbelowstudentlogintopimage h1 {
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 25px;
  color: #9f9b67;
}

.officialbelowstudentlogintopimage p {
  font-family: "Padauk", sans-serif;

  color: #a9967d;
}
.officialUsernameinputstudentlogin {
  /* border: 1px solid purple; */
  /* width: 100%; */
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
}
.officialUsernameinputstudentlogin h5 {
  margin-right: 15px;
  font-family: "ZCOOL XiaoWei", serif;
  /* font-size: 25px; */
  color: #9f9b67;
}
.officialUsernameinputstudentlogin input {
  width: 280px;
  padding-left: 26px;
}
.officialdivofgetotpbutton {
  width: 100%;
  /* border: 1px solid tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#GetOTPButton {
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px dashed;
  /* background-color: #c4c4c4; */
  color: #93a8b2;
  background-color: black;
  cursor: pointer;

  font-size: 12px;
  /* color: black; */
  text-decoration: none;
}
#GetOTPButton:hover {
  color: rgb(221, 158, 41);
  background-color: black;
}
.officialpassword_logo {
  position: absolute;
  top: 8px;
  left: 179px;
  color: rgb(103 88 113);
}
.officialusername_logo {
  position: absolute;
  top: 19px;
  left: 179px;
  color: rgb(103 88 113);
}
.officialerrorpositionrelative {
  position: relative;
}
.officialblankerror {
  color: red;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 81px;
  top: -13px;
  font-size: 13px;
  height: 100%;
}
#passwordmargintop {
  margin-top: 3px;
  padding-top: 0;
}
