*{
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.container_1{
    display: flex;
    flex-direction: column;
}
.container_main > a,p{
    border: 0px;
}
/* div{
    border: 2px solid red;
    margin: 2px;
    
} */
.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 400px;
}
.heading{
    color: black;
    background-color: white;
    font-size: 40px;
}
/* #ctkm{
    
} */
.container_years{
    background-color: white;
    color: black;
    min-height: 100px;
    height: auto;
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.container_years > a,p{
    color: black;
    font-weight: 600;
    background-color: white;
}
/* .container_years > a{
    border: 2px solid rgb(0, 0, 0);
    
} */

/* .container_1 > p {
  color: black;
  background-color: white;
  font-size: 40px;
}
.container_1 > img {
  position: absolute;
  width: 320px;
  height: 267px;
  left: 742px;
  top: 170px;
} */
/* .container_years > p {
  position: absolute;
  width: 724px;
  height: 46px;
  left: 31px;
  top: 404px;
  color: black;
  background-color: white;
} */
/* .container_years{
    position: absolute;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 208px;
    justify-content: space-evenly;
    top: 300px;
}
.container_years > p{
    background: white;
    color: black;
    font-family: ui-rounded;
    font-weight: 700;
}
.scroll{
    width: 20px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 500px;
} */