* {
  box-sizing: border-boxing;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  /* background-color: rgb(76, 188, 240); */
  background-color: black;
}

h2 {
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h3 {
  color: black;
  text-align: center;
  font-weight: bold;
  /* padding:0.5rem; */
  margin: 0.5rem;
}

.your-achievements {
  width: 60%;
  margin: 2rem 0 0 9%;
}
.achievements-content {
  padding: 1rem 1rem;
  /* width: 60%; */
  background-color: rgba(196, 196, 196, 1);
  /* padding: 1rem 1rem;  */
}
.achievement {
  background-color: rgba(172, 172, 172, 1);
  padding: 0.5rem;
}
.achievement-title {
  font-size: 1.05rem;
  font-weight: bold;
}
.btn {
  /* background-color:rgba(118, 118, 118, 1); */
  background-color: brown;
  padding: 2px;
  position: relative;
  /* left:4rem; */
  color: white;
  font-weight: bold;
}
.btn:active {
  transition-duration: 30;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}

.floating-links-light {
  background-color: #9d9d9d;
  width: 12rem;
  padding: 0.7rem 0;
}
.floating-links-dark {
  background-color: #3b3b3b;
  width: 12rem;
  padding: 0.7rem 0;
}
.floating-links-light a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}
.floating-links-dark a {
  width: 16rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* .floating-links {
    position: fixed;
    width:12rem;
    right:10%;
    top:5.6rem;
    color:white;
    text-align: center;    
} */

/* for mobiles phones */
@media screen and (max-width: 768px) {
  .your-achievements {
    width: 80%;
  }
  .floating-links {
    display: none;
  }
}
/*  For tablets  */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .your-achievements {
    width: 80%;
  }
  .floating-links {
    display: none;
  }
}

/* medium screen devices */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .floating-links {
    position: fixed;
    width: 12rem;
    right: 8%;
    top: 5.6rem;
    color: white;
    text-align: center;
  }
}
/* large devices */
@media (min-width: 1200px) {
  /* .floating-links{
    position : fixed;
    right: 10% ;
    } */
  .floating-links {
    position: fixed;
    width: 12rem;
    right: 10%;
    top: 5.6rem;
    color: white;
    text-align: center;
  }
}
